<h1>Problem Set 1 </h1>
Aksita Gundavarapu

In [ ]:
import numpy as np 
import pandas as pd

<h2> 1 Lists </h2>
<h3> 1.1 </h3>

In [2]:
movies = ["Up", "Spider-man", "Eternals", "Incredibles", "Home Alone", "Tangled"]

I just created a list of movies I like or watched recently
<h3> 1.2

In [3]:
movies[0:3]

['Up', 'Spider-man', 'Eternals']

I used the slicing operator to get the first 3 elements of my list
<h3> 1.3

m = movies[0:2]
n = movies[4:6]
concatanated_movies = m + n
print(concatanated_movies)

I used the slicing operator to get the first two and last two elements of my list and then used list concatanation to join them together. 
<h2> 2 Loops </h2>
<h3> 2.1

In [48]:
l = []
for i in range(10):
     l.insert(i, 70+i)
print(l)

[70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

https://www.geeksforgeeks.org/python-list-insert/
 
I looked up the insert function from the link above to insert values into an empty list.
<h3> 2.2

In [47]:
sum = 0
for i in range (101):
    sum += i
print(sum)

5050

I used a for loop to add values from one to 100 to a variable named sum 
<h3>2.3</h3>

In [54]:
names = ["Adam" , "Ashin" , "Inukai" , "Tanaka" , "Ikki"]
seats = [33, 12, 45, 2, 17]
for i in range(4):
    name = names[i]
    seat = seats[i]
    print(name, ":", seat)

Adam : 33
Ashin : 12
Inukai : 45
Tanaka : 2

<h2> 3 Comprehensions</h2>
<h3> 3.1

In [59]:
n = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n_square = [x**2 for x in n]
print(n_square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

https://www.w3schools.com/python/python_lists_comprehension.asp

I used the link above to look up list comphrehensions
<h3> 3.2

In [61]:
dict1 = {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10}
dict1_square = {k:v**2 for (k,v) in dict1.items()}
print(dict1_square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

https://www.datacamp.com/community/tutorials/python-dictionary-comprehension

I used the link above to look up dict comphrehensions 
<h2> 4 Functions and data transformations </h2>
<h3> 4.1

In [81]:
def time(time):
    hours = time//100
    mins = time%100
    fraction = mins/60
    x = hours+fraction 
    return(x)

print(time(345))
print(time(1015))

3.75
10.25

This function uses the operators suggested in the question to extract time and mins and then it converts mins to a fraction by diving it by 60 and then adds hours and the fraction.
<h2> 5 Load Data </h2>
<h3> 5.1

In [84]:
gm = pd.read_csv("data /gapminder.csv", sep= "\t")

Code to read in data. Uses the /t seperator 
<h3> 5.2 </h3>

In [85]:
gm.shape

(13055, 25)

In [88]:
rows = gm.shape[0]
print(rows)

13055

In [89]:
colomns = gm.shape[1]
print(colomns)

25

In [90]:
gm.head(3)

,iso3,name,iso2,region,sub-region,intermediate-region,time,totalPopulation,fertilityRate,lifeExpectancy,...,accessElectricity,agriculturalLand,agricultureTractors,cerealProduction,fertilizerHa,co2,greenhouseGases,co2_PC,pm2.5_35,battleDeaths
0,ABW,Aruba,AW,Americas,Latin America and the Caribbean,Caribbean,1960.0,54211.0,4.820,65.662,...,NaN,NaN,NaN,NaN,NaN,11092.675,NaN,204.62037,NaN,NaN
1,ABW,Aruba,AW,Americas,Latin America and the Caribbean,Caribbean,1961.0,55438.0,4.655,66.074,...,NaN,20.0,NaN,NaN,NaN,11576.719,NaN,208.82281,NaN,NaN
2,ABW,Aruba,AW,Americas,Latin America and the Caribbean,Caribbean,1962.0,56225.0,4.471,66.444,...,NaN,20.0,NaN,NaN,NaN,12713.489,NaN,226.11808,NaN,NaN

This data looks reasonable the times are mainly in the 1960's and most coloumns have valid data. Country and region names also make sense.
<h2> 6 Wealth </h2>
<h3> 6.1 </h3>

In [104]:
gm1 = gm.groupby("name")
len(gm1)

249

I group the data using the country name so there and then I found the length of the grouped data as it would give me the number of unique country names.
<h3> 6.2

In [113]:
earliest = gm.time.min()
print(earliest)

1960.0

In [114]:
latest = gm.time.max()
print(latest)

2019.0

<h3> 6.3

In [116]:
gm2 = gm[~gm.GDP_PC.isna()]
gm2.time.max()

2019.0

I removed all na valies from GDP per capita variable and then I found the latest year. 
<h3> 6.4

In [127]:
gm3 = gm2[gm2.time == 2019]
average_wealth = gm3.GDP_PC.mean()
print(average_wealth)

15055.352217243239

I created a new dataset of all values from only year 2019 and then i used the mean funcyion to calculate the average GDP.
<h3> 6.5

In [131]:
x = gm2.groupby("name").time.max()
x.nsmallest(5)

name
Djibouti                    2010.0
Faroe Islands               2010.0
Liechtenstein               2010.0
Turks and Caicos Islands    2010.0
Eritrea                     2011.0
Name: time, dtype: float64

What do you think, why do these countries have issues with more recent data?
I be;ieve these countries may not have more recent data for GDP per capita maybe because they might have more to over measures of measuring wealth. These also seem like small countrie, so their data points may have been forgotten by researchers. 
<h3> 6.6

In [170]:
m = gm3.groupby("region").GDP_PC.mean()
m.sort_values(ascending = False)

region
Europe      33227.983767
Americas    14516.826303
Asia        14116.124163
Oceania     11817.735554
Africa       2765.708956
Name: GDP_PC, dtype: float64

Do you think this order is reasonable?

This order somewhat seems resonable. Europe and Americas are probably at the top as they have developed countries like USA and UK. While other regions like Africa don't have many developed countries. 
<h3> 6.7 </h3>

In [241]:
continents = ["Europe", "Asia", "Americas", "Oceania", "Africa"]
poorest_name = []
poorest_GDP = []
poorest_population =[]
richest_name = []
richest_GDP = []
richest_population =[]



for i in range (5):
    t = gm3[gm3.region == continents[i]]
    m = t[t.GDP_PC == t.GDP_PC.min()]
    poorest_name.append(m["name"].values[0])
    poorest_GDP.append(m["GDP_PC"].values[0])
    poorest_population.append(m["totalPopulation"].values[0])
    n = t[t.GDP_PC == t.GDP_PC.max()]
    richest_name.append(n["name"].values[0])
    richest_GDP.append(n["GDP_PC"].values[0])
    richest_population.append(n["totalPopulation"].values[0])
    
print(poorest_name)
print(poorest_GDP)
print(poorest_population) 
print(richest_name) 
print(richest_GDP)
print(richest_population)

['Ukraine', 'Afghanistan', 'Haiti', 'Solomon Islands', 'Burundi']
[3224.93517, 573.28755, 1245.0125, 1749.42726, 208.07473]
[44386203.0, 38041754.0, 11263077.0, 669823.0, 11530580.0]
['Luxembourg', 'Qatar', 'Bermuda', 'Australia', 'Seychelles']
[111043.5317, 63281.67468, 94106.36125, 57183.37935, 15048.74693]
[620001.0, 2832067.0, 64027.0, 25365745.0, 97625.0]

For this Question I looked over the countries in each region and then I extracted the poorest and richest countries of each region and their corresponding GDP per capita and population 
<h3> 6.8

In [257]:
continents = pd.Series(continents)
poorest_name = pd.Series(poorest_name)
poorest_GDP = pd.Series(poorest_GDP)
poorest_population = pd.Series(poorest_population)

richest_name = pd.Series(richest_name)
richest_GDP = pd.Series(richest_GDP)
richest_population = pd.Series(richest_population)


table = pd.concat((continents, poorest_name, poorest_GDP, poorest_population, richest_name, richest_GDP, richest_population),  
                  axis =1)

table = table.rename(columns={0: 'Region', 1: 'Poorest Country', 2: 'Poorest GDP', 3: 'Poorest Population', 4: 'Richest Country', 
                              5: 'Richest GDP', 6: 'Richest Population'})
table = table.set_index('Region')

table

,Poorest Country,Poorest GDP,Poorest Population,Richest Country,Richest GDP,Richest Population
Region,,,,,,
Europe,Ukraine,3224.93517,44386203.0,Luxembourg,111043.53170,620001.0
Asia,Afghanistan,573.28755,38041754.0,Qatar,63281.67468,2832067.0
Americas,Haiti,1245.01250,11263077.0,Bermuda,94106.36125,64027.0
Oceania,Solomon Islands,1749.42726,669823.0,Australia,57183.37935,25365745.0
Africa,Burundi,208.07473,11530580.0,Seychelles,15048.74693,97625.0

I converted my lists from the previous questions into Series and then I concatanated those lists into a data set. 
<h3> 6.9 </h3>
Comment the list of poorest and richest countries. What do you think about these lists. Did you know that Bermuda is the richest country in Americas? Do you know why? Why do most of the rich countries have small population?

The order of the poorest and richest countries of each region follows the same patterns as the average GDP for each region, so I believe this dataframe makes sense. I don't think Bermuda is really the richest country in the Americas. The values we are using in this dataset represent GDP per capita, so smaller countries would have a higher wealth. 

<h2> 7 Health </h2>
<h3> 7.1 </h3>

In [267]:
gm_1960 = gm[gm.time == 1960]
gm_1960.lifeExpectancy.isna().sum()

27

In [268]:
gm_2019 = gm[gm.time == 2019]
gm_2019.lifeExpectancy.isna().sum()

19

I made new dataframes for each year and then found that there were 27 missing values for life expectancy in 1960 and 19 in 2019. The difference between these two values is really small indicating that life expectancy has been a common and popular measure throughout the years. 
<h3> 7.2 </h3>

In [278]:
longest = gm.lifeExpectancy.max()
shortest = gm.lifeExpectancy.min()
gm4 = gm[gm.lifeExpectancy == longest]
gm4 = gm4[["name", "lifeExpectancy", "time"]]
print(gm4)
gm5 = gm[gm.lifeExpectancy == shortest]
gm5 = gm5[["name", "lifeExpectancy", "time"]]
print(gm5)

             name  lifeExpectancy    time
10581  San Marino        85.41707  2012.0
          name  lifeExpectancy    time
6097  Cambodia          18.907  1977.0

<h3> 7.3 </h3>
There was a Cambodian genocide in 1977 which would explaiun why Cambodia has such a low life expectancy in 1977.
<h3> 7.4

In [410]:
max_exp = gm.loc[gm.groupby('region')['lifeExpectancy'].idxmax()]
max_exp = max_exp[["name", "lifeExpectancy", "region"]]

min_exp = gm.loc[gm.groupby('region')['lifeExpectancy'].idxmin()]
min_exp = min_exp[["name", "lifeExpectancy", "region"]]

print(max_exp)
print(min_exp)

                 name  lifeExpectancy    region
3310          Algeria        76.88000    Africa
2821   Cayman Islands        82.19024  Americas
4995        Hong Kong        85.07805      Asia
10581      San Marino        85.41707    Europe
663         Australia        82.90000   Oceania
                         name  lifeExpectancy    region
10079                  Rwanda          26.172    Africa
5117                    Haiti          41.762  Americas
6097                 Cambodia          18.907      Asia
1265   Bosnia and Herzegovina          60.353    Europe
9386         Papua New Guinea          38.935   Oceania

I grouped the data by regions and then found the value for the shortest and longest life expectancy for each region with their corresponding country names.
<h3>7.5</h3>

In [352]:
gm7 = gm[~gm.lifeExpectancy.isna()]
gm7 = gm7.iloc[:, [1, 6, 9]]
gm7 = gm7.loc[gm7.groupby('name')['time'].idxmin()]
gm7

                        name    time  lifeExpectancy
60               Afghanistan  1960.0        32.44600
182                  Albania  1960.0        62.28300
3251                 Algeria  1960.0        46.14100
120                   Angola  1960.0        37.52400
544      Antigua and Barbuda  1960.0        61.96800
...                      ...     ...             ...
12634               Viet Nam  1960.0        59.03900
12574  Virgin Islands (U.S.)  1960.0        66.22485
12815                  Yemen  1960.0        29.91900
12935                 Zambia  1960.0        46.68700
12995               Zimbabwe  1960.0        53.01900

[204 rows x 3 columns]

https://datascience.stackexchange.com/questions/26308/after-grouping-to-minimum-value-in-pandas-how-to-display-the-matching-row-resul

I used the above link to understand how to use indexes to extract specific colums from a grouped dataframe.

For this question I removed all na values from lifeexpectancy and then grouped the dataframe by country name. Then I extracted the minimum time row for each country and created a dataframe that only includes the lowest time and life expectancy for each country. 
<h3> 7.6 </h3>

In [353]:
gm8 = gm[~gm.lifeExpectancy.isna()]
gm8 = gm8.iloc[:, [1, 6, 9]]
gm8 = gm8.loc[gm8.groupby('name')['time'].idxmax()]
gm8

                        name    time  lifeExpectancy
119              Afghanistan  2019.0        64.83300
241                  Albania  2019.0        78.57300
3310                 Algeria  2019.0        76.88000
179                   Angola  2019.0        61.14700
603      Antigua and Barbuda  2019.0        77.01600
...                      ...     ...             ...
12693               Viet Nam  2019.0        75.40000
12633  Virgin Islands (U.S.)  2019.0        79.66829
12874                  Yemen  2019.0        66.12500
12994                 Zambia  2019.0        63.88600
13054               Zimbabwe  2019.0        61.49000

[204 rows x 3 columns]

I repeated the sae process as the previous question but I found the lastest time instead.
<h3> 7.7 </h3>

In [399]:
new_table = pd.merge(gm7, gm8, on= "name")
n= new_table["time_y"] - new_table["time_x"]
new_table["growth"] = 100* ((new_table['lifeExpectancy_y']/new_table['lifeExpectancy_x'])**(1/(new_table["time_y"] - new_table["time_x"]))-1)
new_table = new_table.set_index("name")

In [401]:
smallest_rate = new_table.growth.nsmallest(10)
smallest_rate

name
Marshall Islands   -0.770640
Cayman Islands      0.000000
San Marino          0.000000
Palau               0.005789
Ukraine             0.085396
Latvia              0.127581
Bulgaria            0.133413
Lithuania           0.146183
Seychelles          0.155447
Belarus             0.155918
Name: growth, dtype: float64

In [403]:
largest_rate = new_table.growth.nlargest(10)
largest_rate

name
Yemen          1.353232
Maldives       1.276385
Mali           1.268013
Bhutan         1.248151
Timor-Leste    1.232786
Afghanistan    1.180194
Nepal          1.172379
Gambia         1.125813
Liberia        1.067371
Tunisia        1.025081
Name: growth, dtype: float64

I merged the tables from the previous questions to create a new table. I then added a new colomn named growth that calculates the GDP growth using the formula given in the previous question. I then ordered the growth rates to get the 10 ten smallest growth countries and also the top 10 largest growth countries. 
<h3> 7.8 </h3>
 Do you see a pattern (or multiple patterns) here? Remember: you are looking at growth of life expectancy over an extended period.

Some countries that were considerd to be the poorest also have a low growth rate for life expectancy. for example Ukraine. It is surprising that Afghaniztan which was considered to be the poorest country actually has a high life expectancy growth rate.

Overall this Assignment took me around 7 hours of work.